/* ::::: http://www.fstvgo.com/css/jquery.bxslider.css?v=20161205 ::::: */

.bx-wrapper { position: relative; margin: 0px auto 30px; padding: 0px; }
.bx-wrapper img { max-width: 100%; display: block; margin: 0px auto; }
.bx-wrapper .bx-viewport { background: rgb(255, 255, 255) none repeat scroll 0% 0%; transform: translateZ(0px); }
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { position: absolute; bottom: -30px; width: 100%; }
.bx-wrapper .bx-pager { text-align: center; font-size: 0.85em; font-family: Arial; font-weight: bold; color: rgb(102, 102, 102); padding-top: 20px; }
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item { display: inline-block; }
.bx-wrapper .bx-pager .bx-pager-item { height: 50px; }
.bx-wrapper .bx-pager.bx-default-pager a { background: rgb(204, 204, 204) none repeat scroll 0% 0%; text-indent: -9999px; display: block; width: 10px; height: 10px; margin: 0px 5px; outline: 0px none; border-radius: 5px; }
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active { background: rgb(255, 102, 0) none repeat scroll 0% 0%; }
.bx-wrapper .bx-prev { left: 10px; background: transparent url('controls.png') no-repeat scroll 0px -32px; }
.bx-wrapper .bx-next { right: 10px; background: transparent url('controls.png') no-repeat scroll -43px -32px; }
.bx-wrapper .bx-prev:hover { background-position: 0px 0px; }
.bx-wrapper .bx-next:hover { background-position: -43px 0px; }
.bx-wrapper .bx-controls-direction a { position: absolute; top: 50%; margin-top: -16px; outline: 0px none; width: 32px; height: 32px; text-indent: -9999px; z-index: 9999; }
/* ::::: http://www.fstvgo.com/css/common.css?v=20161205 ::::: */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin: 0px; padding: 0px; }
body { font: 14px/1 "Microsoft YaHei",Helvetica,Arial,“宋体″,sans-serif; }
:focus { outline: 0px none; }
fieldset, img, input { border: 0px none; }
h1, h2, h3, h4, h5, h6, em, strong, th { font-style: normal; font-weight: normal; }
ol, ul { list-style: outside none none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
a { color: rgb(51, 51, 51); text-decoration: none ! important; }
a:hover, a:active { color: rgb(248, 120, 75); text-decoration: none; }
#WinAlertDiv { background-color: rgb(255, 255, 255); width: 445px; border: 1px solid rgb(252, 76, 101); position: fixed; top: 50%; margin-top: -80px; left: 50%; margin-left: -222px; z-index: 9999; }
.WinAlertBox { width: 445px; }
.WinAlertHead { height: 16px; line-height: 16px; padding: 6px 8px 8px; background: rgb(252, 76, 101) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-size: 12px; overflow: hidden; }
.WinAlertHead SPAN { display: inline; float: left; color: rgb(255, 255, 255); font-size: 14px; font-weight: 700; }
.WinAlertHead a { color: rgb(255, 255, 255); display: inline; float: right; height: 13px; text-decoration: none; font-size: 13px; line-height: 13px; font-family: Simsun; }
.WinAlertHead > a:nth-of-type(2) { background-color: rgb(255, 255, 255); }
.WinAlertHead a:hover { color: rgb(255, 255, 255); display: inline; float: right; height: 13px; font-size: 13px; line-height: 13px; text-decoration: underline; }
.WinAlertHead A IMG { display: inline-block; vertical-align: middle; margin-top: 1px; }
.ECon { width: 446px; display: block; overflow: hidden; }
.ECon P { padding: 10px 8px; }
.ECon P.Econ_msg { max-height: 250px; overflow: auto; }
.Econ_msg { text-align: left; padding-left: 6px; }
.Econ_img { text-align: center; padding-top: 5px; }
#footer_add_nav > .footer_add { width: 1200px; margin: 0px auto; padding-left: 42px; }
.bottom_synopsis { background: rgb(239, 239, 239) none repeat scroll 0% 0%; padding: 25px 0px; width: 100%; margin-top: 50px; }
.fl { float: left; }
#footer_add_nav > .footer_add > .footer_img_right { margin-right: 116px; }
.bottom_synopsis .email_synopsis_box { display: none; }
.bottom_synopsis .footer_img_right > div { margin-left: 20px; }
.bottom_synopsis .crl { clear: both; display: block; height: 0px; }
.bottom_synopsis h3 { font-size: 16px; color: rgb(89, 87, 87); height: 30px; line-height: 30px; }
.bottom_synopsis h3 a { font-size: 17px; color: rgb(89, 87, 87); height: 30px; line-height: 30px; text-decoration: none; font-weight: 700; font-family: "黑体"; }
.bottom_synopsis p { font-size: 12px; color: rgb(89, 87, 87); height: 20px; line-height: 20px; }
.bottom_synopsis .index_icon { width: 65px; height: 65px; margin-top: 2px; background-image: url('index_icon.png'); background-repeat: no-repeat; }
.bottom_synopsis_icon_01 { background-position: -98px 0px; }
.bottom_synopsis_icon_02 { background-position: -98px -65px; }
.bottom_synopsis_icon_03 { background-position: -98px -130px; }
.bottom_synopsis_icon_04 { background-position: -98px -195px; }
/* ::::: http://www.fstvgo.com/css/footer1200.css?v=20161205 ::::: */

.helpLink { background-color: rgb(255, 255, 255); padding-top: 20px; font-size: 14px; }
.helpLink .FSIntro { width: 418px; float: left; margin-right: 50px; }
.helpLink .FSIntro img { float: left; margin-right: 10px; height: 122px; }
.helpLink .FSIntro h4 { font-size: 15px; font-weight: bold; color: rgb(253, 53, 2); height: 30px; line-height: 30px; }
.helpLink .FSIntro p { line-height: 24px; font-family: "Microsoft YaHei"; font-size: 13px; }
.helpLink dl { float: left; margin-right: 4px; }
.helpLink dl dt { font-size: 16px; font-family: "黑体"; line-height: 30px; width: 118px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-weight: 700; }
.helpLink dl dd { line-height: 24px; width: 118px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.siteLink { background-color: rgb(255, 255, 255); padding: 20px 0px; font-size: 14px; }
.siteLink p { text-align: center; line-height: 36px; height: 36px; margin: 20px auto; }
.siteLink p a { margin: 0px 20px; }
.siteLink p a:hover { color: rgb(226, 5, 27); }
.copyRight { text-align: center; height: 30px; line-height: 30px; background-color: rgb(241, 46, 36); color: rgb(255, 255, 255); }
/* ::::: http://www.fstvgo.com/css/index_header.css?v=20161205 ::::: */

.siderFix { display: none; }
.siderFix_index { display: block; position: fixed; height: 100%; z-index: 9999; top: 0px; width: 36px; right: 0px; color: rgb(255, 255, 255); background: rgb(136, 136, 136) none repeat scroll 0% 0%; }
.siderFix li { padding: 0px 4px; }
.siderFix li a { position: relative; z-index: 1000; color: rgb(238, 238, 238); display: block; padding: 20px 3px 12px; width: 20px; border-top: 1px solid rgb(255, 255, 255); text-align: center; line-height: 20px; }
.siderFix li:first-child a { border-top: 0px none; }
.siderFix a span { display: block; border-radius: 30px; height: 20px; width: 20px; background-color: rgb(244, 54, 0); text-align: center; line-height: 20px; margin-top: 5px; }
.siderFix a i { display: block; height: 23px; width: 23px; margin-bottom: 5px; }
.siderFix a i.cartIcon { background: transparent url('shoppingcart.png') no-repeat scroll 0px center; }
.siderFix a i.memberShip { background: transparent url('membership.png') no-repeat scroll 0px center; }
.siderFix a i.message { background: transparent url('message.png') no-repeat scroll 0px center; }
.siderFix a i.mobile { background: transparent url('mobile.png') no-repeat scroll 0px center; }
.QRCode { display: none; width: 114px; height: 114px; padding: 11px; border: 1px solid rgb(201, 196, 190); position: absolute; bottom: -9px; right: 30px; z-index: 1000; background-color: rgb(255, 255, 255); }
.QRCode .QRtoRight { position: absolute; top: 50px; right: -9px; height: 16px; width: 9px; background: transparent url('qrcodetoright.png') no-repeat scroll 0px 0px; }
.siderFix li.mobileline:hover .QRCode { display: block; }
.header_top_box > ul > li { float: left; }
.header_top_box .w > ul > li a:hover i.toDown, .header_top_box .hasSubMenu:hover i.toDown { background-image: url('whitetodown.png'); }
.header_top_box .hasSubMenu { position: relative; z-index: 1; }
.header_top_box .hasSubMenu:hover > a, .header_top_box .hasSubMenu:hover > a:hover { background-color: rgb(252, 76, 101); color: rgb(255, 255, 255); }
.header_top_box .hasSubMenu:hover ul.subMenu { display: block; }
.header_top_box .hasSubMenu ul.subMenu { width: 74px; display: none; border: 2px solid rgb(252, 76, 101); position: absolute; right: 0px; top: 31px; z-index: 1000; background-color: rgb(255, 255, 255); }
.header_top_box .hasSubMenu ul.myFSMenu { min-width: 70px; }
.header_top_box .hasSubMenu ul.my_fs { width: 74px; margin-right: 4px; }
.header_top_box .hasSubMenu ul.subMenu li { border-bottom: 1px dotted rgb(237, 237, 237); line-height: 20px; height: 30px; width: 100%; text-align: center; }
.header_top_box .hasSubMenu ul.subMenu li a { line-height: 30px; }
.header_center { height: 155px; border-bottom: 3px solid rgb(252, 76, 101); position: relative; }
.header_center h1 { float: left; height: 125px; line-height: 125px; margin-right: 70px; }
.header_center h1 a { font-size: 0px; }
.header_center h1 img { vertical-align: middle; padding-top: 30px; }
.header_center .freeCarry { float: left; margin-top: 50px; margin-right: 56px; }
.header_center .freeCarry img { width: 167px; height: 31px; }
.header_center .searchCon { float: left; margin-top: 45px; width: 580px; }
.header_center .searchCon .searchBar { height: 34px; width: 574px; overflow: hidden; border: 3px solid rgb(252, 76, 101); border-radius: 4px; }
.header_center .searchCon .searchBar .searchInput { float: left; height: 34px; width: 470px; padding-left: 4px; border: 0px none; color: rgb(153, 153, 153); line-height: 34px; }
.header_center .searchCon .searchBar .searchBtn { float: left; border: 0px none; width: 100px; height: 34px; line-height: 34px; background-color: rgb(252, 76, 101); color: rgb(255, 255, 255); font-size: 18px; cursor: pointer; }
.header_center .searchCon .hotSearch { height: 24px; line-height: 24px; width: 580px; overflow: hidden; }
.header_center .searchCon .hotSearch a { margin-right: 6px; color: rgb(153, 153, 153); }
.header_center .searchCon .hotSearch a:hover { color: rgb(252, 76, 101); }
.header_center .Cart { float: right; border: 1px solid rgb(216, 216, 216); background-color: rgb(249, 249, 249); width: 130px; height: 38px; line-height: 38px; margin-top: 45px; position: relative; }
.header_center .Cart i { padding-left: 10px; }
.header_center .Cart i.cartIcon { padding-left: 0px; word-spacing: 1.5em; background: transparent url('shoppingcart_001.png') no-repeat scroll center 0px; }
.header_center .Cart a { font: 14px/1 "黑体",宋体,sans-serif; position: absolute; top: 50%; left: 0px; height: 14px; margin-top: -7px; }
.navbar { position: relative; height: 30px; line-height: 30px; }
.navbar .category { width: 205px; text-align: center; background-color: rgb(252, 76, 101); position: absolute; bottom: -2px; }
.navbar .category a { color: rgb(255, 255, 255); font-size: 16px; }
.navbar .category a .toDown { word-spacing: 1em; background: transparent url('whitetodown_001.png') no-repeat scroll right center; }
.navbar .nav { position: absolute; left: 210px; top: -8px; }
.navbar .nav > ul > li { padding: 5px 24px; margin: 0px 14px; font-size: 16px; float: left; }
.navbar .nav .dszb { background: transparent url('tv.gif') no-repeat scroll left center; padding-left: 35px; }
.category:hover > .sort_list { display: block; }
.sort_list { position: absolute; z-index: 99999; display: none; top: 38px; }
.sort-layer { display: none; }
.sort_list_nav { height: 365px; padding: 18px 0px; background: rgb(252, 76, 101) none repeat scroll 0% 0%; width: 205px; position: relative; }
.sort_list_main { height: 52px; padding: 0px 15px; }
.sort_list_main:hover { background: rgb(204, 65, 85) none repeat scroll 0% 0%; }
.sort_list_main .lnk { line-height: 52px; color: rgb(255, 255, 255); text-decoration: none; }
.sort_list_main:hover > .sort-layer { display: block; }
.sort-layer { position: absolute; left: 205px; top: 0px; width: 860px; height: 361px; background: rgba(255, 255, 255, 0.9) none repeat scroll 0% 0%; padding: 20px; }
.sort-layer .layer-top dt { width: 82px; height: 26px; text-align: center; line-height: 26px; font-size: 14px; color: rgb(51, 51, 51); float: left; margin-right: 10px; border: 1px solid rgb(102, 102, 102); background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 15px; }
.sort-layer .layer-top dd span, .sort-layer .layer-top dd i { font-style: normal; line-height: 30px; font-size: 12px; }
.sort-layer .layer-top dd span { font-size: 14px; font-family: "黑体"; }
.sort-layer .layer-top dd a { margin: 0px 12px; font-size: 12px; line-height: 30px; text-decoration: none; color: rgb(51, 51, 51); }
.sort-layer .layer-info .showlist { margin-left: 10px; }
.layer-top { border-bottom: 1px dashed rgb(51, 51, 51); padding-bottom: 10px; }
.sort-layer .layer-info .layer-hd { line-height: 55px; color: rgb(51, 51, 51); font-size: 16px; margin: 10px 0px 10px 10px; }
.sort-layer .layer-info ul li { width: 150px; float: left; margin-right: 20px; overflow: hidden; }
.sort-layer .layer-info ul li > strong { font-family: Arial; font-weight: 700; color: rgb(217, 20, 4); font-size: 16px; }
.sort-layer .layer-info ul li .title { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; height: 25px; line-height: 25px; display: block; color: rgb(51, 51, 51); margin: 15px 0px 5px; text-decoration: none; font-size: 12px; }
.sort-layer .layer-info ul li .price { font-size: 12px; }
.sort_list .lnk { display: block; overflow: hidden; font-size: 14px; color: rgb(255, 255, 255); padding-left: 53px; cursor: pointer; background: transparent url('index_icon2.png') no-repeat scroll 0% 0%; }
.sort_list .lnk p { display: block; color: rgb(255, 255, 255); line-height: 50px; background: transparent url('index-icon.png') no-repeat scroll 108px -18px; }
.sort_list { text-align: left; }
.sort_list_nav .sort_list_main .sort-layer .layer-top dd { line-height: 28px; }
.sort_list_nav .sort_list_main .sort-layer .layer-top dd a:hover { color: rgb(252, 76, 101); }
.list_0 .lnk { background-position: 10px 0px; }
.list_1 .lnk { background-position: 10px -50px; }
.list_2 .lnk { background-position: 10px -100px; }
.list_3 .lnk { background-position: 7px -150px; }
.list_4 .lnk { background-position: 10px -200px; }
.list_5 .lnk { background-position: 10px -250px; }
.list_6 .lnk { background-position: 10px -300px; }
/* ::::: http://www.fstvgo.com/css/index.css?v=20161205 ::::: */

.banner { height: 398px; width: 100%; position: relative; overflow: hidden; }
.banner .banCon { position: absolute; top: 0px; left: 0px; }
.banner .banCon li { height: 398px; float: left; min-width: 1200px; }
.banner .banCon li a { display: block; text-align: center; }
.banner .banCon li img { vertical-align: top; height: 398px; }
.container { background-color: rgb(250, 250, 250); padding-bottom: 55px; }
.onSales ul li { float: left; margin-right: 1px; width: 239px; height: 163px; overflow: hidden; }
.onSales ul li img { vertical-align: bottom; }
.onSales { padding-top: 10px; }
.hotSale .hd h2 { float: left; font-size: 26px; font-weight: bold; color: rgb(252, 76, 101); height: 58px; line-height: 58px; }
.hotSale .hd .tabs { float: left; margin-top: 18px; height: 30px; line-height: 30px; margin-left: 10px; }
.hotSale .hd .tabs span { padding: 5px 3px; font-size: 16px; color: rgb(102, 102, 102); }
.hotSale .con .wl { border: 1px solid rgb(230, 230, 230); width: 418px; height: 665px; background-color: rgb(255, 255, 255); float: left; }
.hotSale .wl .siteRecommand { width: 378px; padding: 0px 10px; overflow: hidden; }
.hotSale .wl .siteRecommand h6 { font-weight: bold; height: 30px; line-height: 30px; }
.hotSale .con .wr { width: 780px; height: 667px; overflow: hidden; z-index: 1; margin-left: 10px; padding: 6px 0px; }
.hotSale .wr ul li { padding: 7px; float: left; border: 1px solid rgb(230, 230, 230); margin-left: 22px; margin-bottom: 20px; background-color: rgb(255, 255, 255); position: relative; height: 305px; width: 220px; }
.hotSale .wr ul li:hover { box-shadow: 0px 0px 10px 2px rgb(204, 204, 204); }
.hotSale .pImg { display: block; overflow: hidden; }
.hotSale .pName { line-height: 20px; height: 40px; overflow: hidden; }
.hotSale .pSum { position: relative; font-family: Arial; overflow: hidden; font-size: 16px; height: 24px; line-height: 24px; }
.hotSale .pSum .pPrice { font-family: Arial; font-weight: 700; color: rgb(217, 20, 4); font-size: 16px; margin-right: 10px; }
.hotSale .pSum .promotionIcon { margin-left: 10px; padding: 2px; word-spacing: 1em; background: transparent url('promotionicon.png') no-repeat scroll 0px 0px; }
.hotSale .wl .pImg { width: 360px; height: 360px; margin: 0px auto; }
.hotSale .wl .pImg img { width: 360px; height: 360px; }
.hotSale .wl .pName { margin-top: 60px; height: 20px; }
.hotSale .wr .pImg { width: 220px; height: 220px; overflow: hidden; }
.hotSale .wr .pImg img { width: 220px; height: 220px; }
.hotSale .wr .pName { margin-top: 10px; }
.hot_sale_left { width: 400px; margin: 0px; padding: 6px 0px 0px; z-index: 9999; position: absolute; height: 666px; overflow: hidden; }
#bxSlider_hotsale { width: 4000px; }
#bxSlider_hotsale > li > .bottom { padding: 0px 10px; margin-bottom: 20px; }
#bxSlider_hotsale > li > .bottom > i { color: rgb(217, 20, 4); font-weight: 700; }
.lbt_btn { width: 20%; position: absolute; top: 58%; left: 122px; margin-left: 42px; cursor: pointer; z-index: 9999; }
.lbt_btn i { display: block; float: left; margin-left: 5px; border-radius: 50%; width: 14px; height: 14px; background-color: rgb(204, 204, 204); z-index: 999; }
.lbt_btn .current { background-color: rgb(255, 137, 66); }
.floor { padding-top: 30px; }
.styleOne .hd { border-bottom: 1px solid rgb(217, 20, 4); height: 36px; line-height: 36px; position: relative; }
.styleOne .hd h2 { font-size: 26px; font-weight: bold; }
.styleOne .hd .tabNav { position: absolute; bottom: -1px; right: 0px; height: 36px; line-height: 36px; }
.styleOne .hd .tabNav a { float: left; padding: 0px 15px; cursor: pointer; }
.styleOne .hd .tabNav a.sel { border-width: 2px 2px 0px; border-style: solid solid none; border-color: rgb(217, 20, 4) rgb(217, 20, 4) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin: -2px -2px 0px; color: rgb(217, 20, 4); background-color: rgb(250, 250, 250); }
.styleOne .bd { margin-top: 24px; height: 789px; padding: 10px 0px; }
.styleOne .bd ul { width: 1223px; height: 812px; }
.styleOne .bd ul li { float: left; margin-right: 23px; margin-bottom: 23px; width: 280px; height: 381px; border: 1px solid rgb(230, 230, 230); background-color: rgb(255, 255, 255); }
.styleOne .bd ul li:hover { box-shadow: 0px 0px 10px 2px rgb(204, 204, 204); }
.styleOne .bd .productAd { height: 382px; width: 588px; overflow: hidden; border: 0px none; margin-right: 23px; float: left; }
.styleOne .bd .productAd img { height: 383px; width: 588px; }
.styleOne .bd a.pImg { display: block; height: 280px; width: 280px; overflow: hidden; }
.styleOne .bd a.pImg img { height: 280px; width: 280px; }
.styleOne .bd p.pName { line-height: 20px; height: 40px; overflow: hidden; padding: 10px 10px 0px; }
.styleOne .bd p.pSum { position: relative; font-family: Arial; overflow: hidden; font-size: 16px; height: 24px; line-height: 24px; padding: 0px 10px; }
.styleOne .pSum .pPrice { line-height: 20px; color: rgb(217, 20, 4); font-weight: bold; margin-right: 10px; }
.styleOne .pSum del { color: rgb(102, 102, 102); margin-right: 10px; font-size: 14px; }
.styleTwo .weekRank ul li::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
#footer_add_nav > .footer_add { width: 1200px; margin: 0px auto; padding-left: 52px; }
.bottom_synopsis { background: rgb(239, 239, 239) none repeat scroll 0% 0%; padding: 25px 0px; width: 100%; margin-top: 50px; }
.fl { float: left; }
#footer_add_nav > .footer_add > .footer_img_right { margin-right: 116px; }
.bottom_synopsis .email_synopsis_box { display: none; }
.bottom_synopsis .footer_img_right > div { margin-left: 20px; }
.bottom_synopsis .crl { clear: both; display: block; height: 0px; }
.bottom_synopsis h3 { font-size: 16px; color: rgb(89, 87, 87); height: 30px; line-height: 30px; }
.bottom_synopsis h3 a { font-size: 17px; color: rgb(89, 87, 87); height: 30px; line-height: 30px; text-decoration: none; font-weight: 700; font-family: "黑体"; }
.bottom_synopsis p { font-size: 12px; color: rgb(89, 87, 87); height: 20px; line-height: 20px; }
.bottom_synopsis .index_icon { width: 65px; height: 65px; margin-top: 2px; background-image: url('index_icon.png'); background-repeat: no-repeat; }
.bottom_synopsis_icon_01 { background-position: -98px 0px; }
.bottom_synopsis_icon_02 { background-position: -98px -65px; }
.bottom_synopsis_icon_03 { background-position: -98px -130px; }
.bottom_synopsis_icon_04 { background-position: -98px -195px; }
.bx-wrapper .bx-viewport { width: 1920px ! important; margin-left: -960px; left: 50%; }
/* ::::: http://www.fstvgo.com/css/header_1200.css?v=20161205 ::::: */

body { font: 14px/1 "Microsoft YaHei",Helvetica,Arial,“宋体″,sans-serif; }
#header_top { width: 100%; height: 36px; border-bottom: 1px solid rgb(229, 229, 229); background: rgb(242, 242, 242) none repeat scroll 0% 0%; position: relative; z-index: 10; }
.header_top_box { height: 36px; background: rgb(242, 242, 242) none repeat scroll 0% 0%; line-height: 36px; margin: 0px auto; width: 1200px; }
.header_top_box, .header_top_box a { color: rgb(108, 108, 108); }
.header_top_left { float: left; }
.header_top_right { position: relative; }
.header_top_right { float: right; height: 28px; }
ol, ul { list-style: outside none none; }
user agent stylesheets, strike, del { text-decoration: line-through; }
a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var { margin: 0px; padding: 0px; }
.header_top_right li { float: left; display: inline; height: 28px; position: relative; z-index: 9; }
.header_center { height: 154px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin: 0px auto; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }
s, strike, del { text-decoration: line-through; }
.all_style { width: 239px; float: left; height: 38px; line-height: 40px; }
.all_style a { text-decoration: none; }
.category .all-cat { display: block; width: 221px; height: 38px; color: rgb(51, 51, 51); text-align: center; font: 16px/38px "黑体"; }
h1, h2, h3, h4, h5, h6, em, strong, th { font-style: normal; font-weight: normal; }
.header_top_box .hasSubMenu > a { padding: 6px 8px 6px 10px; }
.nav #header_notice { font: 12px/18px Arial,Simsun,Helvetica,sans-serif ! important; position: relative; margin-left: 47px ! important; display: inline-block; width: 256px; height: 18px; overflow: hidden; padding: 0px; margin-right: 0px; margin-bottom: 0px; margin-top: 12px; }
.nav #header_notice > span { background: transparent url('icon_all.png') no-repeat scroll -67px -76px; display: inline-block; width: 14px; height: 14px; margin-top: 10px; position: absolute; left: 0px; top: -6px; }
.nav #header_notice a { font: 12px/18px Arial,Simsun,Helvetica,sans-serif ! important; display: inline-block; height: 18px; }
.nav #header_notice > ul { position: absolute; margin-left: 18px; padding-top: 1px; }
.nav #header_notice li > a:hover { text-decoration: underline; }
a:link, a:visited { text-decoration: none; color: rgb(119, 119, 119); }
a:hover { color: rgb(248, 120, 75); text-decoration: none; }
.i_cont_left dl::after { content: ""; display: block; clear: both; height: 0px; visibility: hidden; }
* { margin: 0px; padding: 0px; }
ul, li, ol, dl, dd, dt { list-style: outside none none; }
img { display: inherit; }
.clearfix::after { content: ""; clear: both; overflow: hidden; }
a { text-decoration: none; color: rgb(51, 51, 51); }
/* ::::: http://www.fstvgo.com/css/default.css?v=20161205 ::::: */

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0px; padding: 0px; }
body, button, input, select, textarea { font: 14px/1.5 "Microsoft YaHei",Helvetica,Arial,“宋体″,sans-serif; color: rgb(51, 51, 51); }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
address, cite, dfn, em, var, i { font-style: normal; }
ul, ol { list-style: outside none none; }
a { color: rgb(51, 51, 51); text-decoration: none; }
a:hover { color: rgb(252, 76, 101); text-decoration: none; }
fieldset, img { border: 0px none; }
button, input, select, textarea { font-size: 100%; }
.clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
:focus { outline: medium none; }
s { text-decoration: none; }
.wp { width: 100%; clear: both; }
.wp > p:first-child { display: none; }
.w { width: 1200px; margin: 0px auto; clear: both; position: relative; }
.w::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.wl { float: left; position: absolute; overflow: hidden; }
.wr { float: right; }
.header_top_left ul li { float: left; margin-left: 10px; }
ul.wl li { float: left; height: 665px; width: 400px; margin-top: 10px; }
/* ::::: http://www.fstvgo.com/css/footer_1200.css?v=20161205 ::::: */

body { background-color: rgb(255, 255, 255); color: rgb(97, 97, 97); }
body, h1, h2, h3, h4, h5, h6, p, pre, blockquote, dl, dt, dd, ul, ol, li, form, fieldset, legend, input, textarea, button, th, td { margin: 0px; padding: 0px; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
select, input, button, textarea { font-size: 100%; }
caption, strong, th { font-weight: normal; }
ul, li, ol { list-style: outside none none; }
fieldset, img { border: 0px none; }
input, label, option, textarea, button, fieldset, legend { font: 14px/1 "Microsoft YaHei",Helvetica,Arial,“宋体″,sans-serif; }
img { vertical-align: bottom; }
select, input, button, textarea { font-size: 100%; }
body {  }
img {  }
* { margin: 0px auto; padding: 0px; }
a:link, a:visited { color: rgb(119, 119, 119); text-decoration: none ! important; }
a:hover { color: rgb(0, 0, 0); text-decoration: underline; }
.fl { float: left; display: inline; }
/* ::::: http://www.fstvgo.com/css/default.css?v=20161205 ::::: */

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0px; padding: 0px; }
body, button, input, select, textarea { font: 14px/1.5 "Microsoft YaHei",Helvetica,Arial,“宋体″,sans-serif; color: rgb(51, 51, 51); }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
address, cite, dfn, em, var, i { font-style: normal; }
ul, ol { list-style: outside none none; }
a { color: rgb(51, 51, 51); text-decoration: none; }
a:hover { color: rgb(252, 76, 101); text-decoration: none; }
fieldset, img { border: 0px none; }
button, input, select, textarea { font-size: 100%; }
.clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
:focus { outline: medium none; }
s { text-decoration: none; }
.wp { width: 100%; clear: both; }
.wp > p:first-child { display: none; }
.w { width: 1200px; margin: 0px auto; clear: both; position: relative; }
.w::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.wl { float: left; position: absolute; overflow: hidden; }
.wr { float: right; }
.header_top_left ul li { float: left; margin-left: 10px; }
ul.wl li { float: left; height: 665px; width: 400px; margin-top: 10px; }
