@charset "utf-8";
/* CSS Document */

html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,
form,fieldset,legend,img,lable,button {
	margin:0; padding:0;
}

fieldset,
img,button {
	border: none;
}

img,i {
	display: block;
}

address,
caption,
cite,
code,
dfn,
th,
var,i,h1, h2, h3, h4, h5, h6, em {
	font-style: normal;
	font-weight: normal;
}

ul,
ol,em {
	list-style: none;	
}


body {
	color: #333;
	-padding: 5px 0;
	font: 12px/24px "宋体","微软雅黑" , "Arial Narrow", HELVETICA;
	background: #fff;
	/* overflow-y:scroll;*/
	overflow-x: hidden;
}

a {	
	font-family: '宋体';
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #d32402;
}

.layout {
	width: 1200px;
	margin: 0 auto;
	clear: both;
	-overflow: hidden;
}

#white {
	color: #fff;
}
.clearfix:after{
	display: block;
	content: "";
	height: 0;
	clear: both;
}

/*版心*/
.container{
	width: 100%;
}