@charset "utf-8";
.container .header-wrapper {
	border-bottom: 3px solid #fc4c65;
	height: 186px;
}
.container .e_CartWrap {
	margin: 0 auto;
    overflow: hidden;
    padding-bottom: 20px;
    width: 985px;
}
.container .e_CartWrap .Cartwrap {
	float: left;
    margin: 0;
    overflow: hidden;
    width: 985px;
}
.Cartwrap .CnavDeliverytit {
	float: right;
	height: 32px;
    width: 542px;
}
.Cartwrap .CDeliverybox {
	margin-top: 20px;
	float: left;
    display: inline;
    font-family: 'Microsoft YaHei',Arial,Helvetica,sans-serif,"simsun";
    overflow: hidden;
    width: 986px;
}

.Cartwrap .CRaddbottom2 {
	display: inline;
    float: left;
    margin: 0;
    overflow: hidden;
    width: 983px;
}
.Cartwrap .CDeliverybtn {
	margin-bottom: 15px;
	margin-top: 15px;
	float: right;
	margin-left: 10px;
    height: auto;
}
.Cartwrap .crl {
	clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
}
    
